body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font: 50px;
}

.purple-color {
  color: purple;
}

section {
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 80%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(purple, rgb(199, 146, 199));
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
